In [1]:
import pandas as pd

In [18]:
india=pd.DataFrame({"state":["Kerela","Bihar","JK"],"Capital":["Trivandrum","Patna","Srinagar"],"Temperature":[25,30,16]})
US= pd.DataFrame({"state":["Texas","California","Washington"],"Capital":["Dallas","San Fransisco","Washington"],"Temperature":[20,15,14]})

In [19]:
pd.concat([india,US])

        state        Capital  Temperature
0      Kerela     Trivandrum           25
1       Bihar          Patna           30
2          JK       Srinagar           16
0       Texas         Dallas           20
1  California  San Fransisco           15
2  Washington     Washington           14